Panda

In [3]:
import pandas as pd

df = pd.DataFrame({'AAA' : [4, 5, 6, 7],
  'BBB' : [10,20,30,40], 'CCC': [100,50,-30,-50]})

print(df)
print(df.describe()) 

surveys_df = pd.read_csv("surveys.csv")

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
            AAA        BBB         CCC
count  4.000000   4.000000    4.000000
mean   5.500000  25.000000   17.500000
std    1.290994  12.909944   69.940451
min    4.000000  10.000000  -50.000000
25%    4.750000  17.500000  -35.000000
50%    5.500000  25.000000   10.000000
75%    6.250000  32.500000   62.500000
max    7.000000  40.000000  100.000000

In [4]:
type(surveys_df)

pandas.core.frame.DataFrame

In [5]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [6]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [7]:
surveys_df.shape

(35549, 9)

In [8]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [9]:
surveys_df.columns.values

array(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id',
       'sex', 'hindfoot_length', 'weight'], dtype=object)

In [10]:
pd.unique(surveys_df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)